
@{
    ViewData["Title"] = "Play";
}

<h1>Interact with our Xainport smart contract</h1>
<p>
    This is simple tool which can be used to interact with Xainport smart contract
    deployed on Rinkeby Ethereum test network.
</p>
<p>Smart contract keeps digital signatures of citizen's attestations.</p>
<p>You can add new signatures or read existing signatures.</p>
<p>
    Interaction with smart contract is done with integrated Rinkeby test account that has
    some funds deposited in it. Every write transaction costs ether so be mindful :).
</p>
